
.button
{
    -fx-effect: innershadow(three-pass-box, rgb(0, 30, 44), 15, 0.7, 0, 0);
    -fx-border-color: rgb(0, 30, 44);;
    -fx-text-fill: white;
    -fx-border-width: 2;
    -fx-background-color: rgb(0, 30, 44);
    -fx-border-radius: 10;
    -fx-background-radius: 4;
}

.button:hover
{
    -fx-background-color: white;
}

.button .text
{
    -fx-font-family: "Press Start 2P";
    -fx-effect: dropshadow(gaussian, white, 12, 0.3, 0, 0);
    -fx-font-size: 12;
}

.button:hover .text
{
    -fx-effect: dropshadow(gaussian, rgb(23, 79, 115), 12, 0.4, 0, 0);
    -fx-font-size: 115%;
}

.combo-box
{
    -fx-border-color: rgb(0, 30, 44);
    -fx-border-width: 2;
    -fx-background-color: rgb(0, 30, 44);
    -fx-border-radius: 10;
    -fx-backround-radius: 4;
}

.combo-box .text
{
    -fx-font-family: "Press Start 2P";
    -fx-effect: dropshadow(gaussian, white, 12, 0.3, 0, 0);
    -fx-font-size: 12;
}

.combo-box .list-cell
{
    -fx-effect: innershadow(three-pass-box, rgb(0, 30, 44)/*rgb(23, 79, 115)*/, 5, 0.7, 0, 0);
    -fx-text-fill:white;
    -fx-background-color: rgb(0, 30, 44);
}

.combo-box .list-cell:hover .text
{
    -fx-effect: dropshadow(gaussian, rgb(23, 79, 115), 12, 0.5, 0, 0);
}

.combo-box .list-cell:hover
{
    -fx-background-color: white;
}

.split-pane
{
    -fx-background-color: rgba(23, 79, 115, 0.7);
    -fx-border-color: rgb(0, 30, 44);
}

.split-pane *.split-pane-divider 
{
   -fx-border-color:  rgb(0, 30, 44);
   -fx-background-color: rgb(23, 79, 115);
   -fx-effect: innershadow(three-pass-box, rgb(0, 30, 44), 5, 0.7, 0, 0);
}
