.chart-title
{
    -fx-font-family: "Venus Rising";
    -fx-fill: rgb(0, 30, 44);
    -fx-font-size: 12;
}

#show-xy-values
{
    -fx-text-fill: white;
    -fx-background-color: rgb(23, 79, 115);
    -fx-border-color: rgb(0, 30, 44);
    -fx-border-width: 2;
    -fx-effect: innershadow(three-pass-box, rgb(0, 30, 44), 5, 0.7, 0, 0);
}

#show-xy-values .text
{
    -fx-font-family: "Control Freak";
    -fx-font-size: 20;
}


.axis
{
    -fx-font-family: "Control Freak";
    -fx-tick-label-fill: rgb(0, 30, 44);
    -fx-tick-length: 10;
    -fx-stroke: red;
}

.axis-tick-mark
{
    -fx-stroke: rgb(0, 30, 44);
}

.axis-minor-tick-mark
{
    -fx-stroke: rgb(0, 30, 44);
}

.axis-label
{
    -fx-font-family: "Control Freak";
    -fx-text-fill: rgb(0, 17, 26);
    -fx-font-size: 16;
}

.chart-plot-background
{
    -fx-background-color: rgba(15, 53, 77, 0.5);
}

.chart-vertical-grid-lines
{
    -fx-stroke: white;
    -fx-stroke-width: 1;
}

.chart-horizontal-grid-lines
{
    -fx-stroke: white;
    -fx-stroke-width: 1;
}

.chart-alternative-row-fill
{
    -fx-fill: rgba(23, 79, 115, 0.6);
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.chart-series-line
{
    -fx-stroke-width: 2;
    -fx-stroke: rgb(0, 30, 44);
}

.default-color0.chart-line-symbol 
{ 
    -fx-background-color: rgb(0, 30, 44), rgb(31, 105, 153); 
}


